<!--  一覧表示  -->
<h1>Books</h1>


<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>   </th>
  </tr>

  <% @books.each do |bk| %>
    <tr>
      <td>
      <%= bk.title %>
      </td>
      <td>
      <%= bk.body %>
      </td>
      <td>
      <%=link_to "Show", "/books/index/#{bk.id}" %>
      <%=link_to "Edit", edit_booklist_path(bk.id) %>
      <%=link_to "Destroy", destroy_booklist_path(bk.id), method: :delete, "data-confirm" => "Are you Sure?" %>
      </td>
    </tr>
  <% end %>

</table>



<h1>New book</h1>


<% if flash[:alert] %>
    <ul>
      <% flash[:alert].each do |message| %>
        <p><%= message %></p>
      <% end %>
    </ul>
<% end %>

<%= form_for(@book, url:'/create') do |book| %>

    <p>Title:<br>
    <%= book.text_field :title %>
    </p>

    <p>Body: <br>
    <%= book.text_area :body %>
    </p>

    <%= book.submit 'Create Book' %>

<% end %>

