<!--  一覧表示  -->

<h1>Books</h1>

<h2>Title</h2>
<% @books.each do |bk| %>

<%= bk.title %>
<%= bk.body %>
<%=link_to "Show", "/books/index/#{bk.id}" %>
<%=link_to "Edit", edit_booklist_path(bk.id) %>
<%=link_to "Destroy", destroy_booklist_path(bk.id), method: :delete, "data-confirm" => "削除しておk?" %>
<br>

<% end %>



<h1>New book</h1>

<%= form_for(@book, url:'/newbook') do |book| %>
 
    <p>Title:<br>
    <%= book.text_field :title %>
    </p>

    <p>Body: <br>
    <%= book.text_area :body %>
    </p>

    <%= book.submit 'Create Book' %>

<% end %>



<!--
	<div >
	<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th> </th>
  </tr>
  <tr>
    <td>aaaa</td>
    <td>bbbb</td>
    <td>cccc</td>
  </tr>
  <tr>
    <td>dddd</td>
    <td>eeee</td>
    <td>ffff</td>
  </tr>
</table>
</div>
-->

